@import "./fonts.scss";

body {
  position: relative;
  color: white;
  height: 100vh;
  background: rgb(52,43,190);
  background: linear-gradient(135deg, rgba(52,43,190,1) 0%, rgba(33,185,215,1) 100%);
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-feed {
  height: 450px;
  border-radius: 50px;
  margin-top: 100px;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}

.title {
  font-family: 'NunitoBlack';
  font-size: 40px;
  color: white;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));

  position: absolute;
  top: 10px;
  left: 300px;
}

.sub-title {
  font-family: 'NunitoBlack';
  font-size: 20px;
  color: white;

  position: absolute;
  top: 55px;
  left: 550px;
}

.icon {
  position: absolute;
  top: 23px;
  left: 600px;
}

.button-title {
  font-family: 'NunitoBlack';
  font-size: 20px;
  color: white;
}

.button-box {
  margin-top: 15px;
  background: rgba(13, 229, 236, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));

  transition: all 0.2s ease-in-out;
}

.selected-button-box {
  background: rgba(13, 229, 236, 0.8);
}

.button-box:hover {
  transform: scale(1.05);
}

.footer {
  font-family: 'NunitoBlack';
  font-size: 10px;
  color: white;
}
